<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Routines</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item
        *ngFor="let routine of routines"
        (click)="selected.emit(routine)"
      >
        <h3 mat-line>
          {{ routine.title }}
        </h3>
        <p mat-line>
          {{ routine.details }}
        </p>
        <button
          mat-icon-button
          *ngIf="!readonly"
          (click)="deleted.emit(routine); $event.stopImmediatePropagation()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
