<div class="container">
  <!-- ROUTINES LIST -->
  <div class="col-50">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Routines</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item
            (click)="selectRoutine(routine)"
            *ngFor="let routine of routines"
          >
            <h3 mat-line>
              {{ routine.title }}
            </h3>
            <p mat-line>
              {{ routine.details }}
            </p>
            <button mat-icon-button>
              <mat-icon>close</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- ROUTINE DETAILS -->
  <div class="col-50">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>
            <!-- ROUTINE TITLE HERE -->
            <span *ngIf="selectedRoutine; else elseBlock">{{
              selectedRoutine.title
            }}</span>
            <ng-template #elseBlock>Select a product</ng-template>
          </h1>
        </mat-card-title>
      </mat-card-header>
      <form>
        <mat-card-content>
          <!-- ROUTINE FORM HERE -->
          {{ selectedRoutine | json }}
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-button color="primary">Save</button>
          <button type="button" mat-button (click)="cancel()">
            Cancel
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
