<div class="container">
  <!--  this is only for testing -->
  <h1>{{ primaryColor }}</h1>

  <!-- ROUTINES LIST -->
  <div class="col-50">
    <app-routines-list
      [routines]="routines$ | async"
      (selected)="selectRoutine($event)"
      (deleted)="deleteRoutine($event)"
    ></app-routines-list>
  </div>

  <!-- ROUTINE DETAILS -->
  <div class="col-50">
    <app-routine-details
      [routine]="selectedRoutine"
      (saved)="saveRoutine($event)"
      (cancelled)="cancel()"
    ></app-routine-details>
  </div>
</div>
